<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="We are education of the future. Practice STEM topics using hands on and interactive games." />
  <meta name="keywords" content="luxscience, education, education technology, technology, software, development, company, launch, product, timeline, elementary school, game, fun, educational, consulting, tech, wellesley, code, app, websites, build, create, talent" />
  <meta charset="utf-8">
  <title>Lux Science</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i|Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

</head>

<body>

  <!-- <nav class="navbar navbar-default navbar-fixed-top navbar-inverse bg-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">YOUR NAME HERE</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>

            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->

  <nav class="navbar navbar-toggleable-sm fixed-top navbar-light bg-faded">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler-5" aria-controls="navbarToggler-5" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a href="#headere-top" title="luxsciencelogo"><img src="images/logo2.png" alt="luxsciencelogo" title="luxsciencelogo"/></a>
      <a class="navbar-brand" href="#">Lux Science</a>

      <!-- <div class="collapse navbar-collapse justify-content-end" id="navbarToggler-5"> -->
      <div class="collapse navbar-collapse justify-content-end" id="navbar1">

        <ul class="navbar-nav mt-2 mt-md-0">
          <li class="nav-item active">
            <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#ourwork">Our Work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#kickstarter">Kickstarter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#team">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://medium.com/luxscienceblog">Blog</a>
          </li>
          <li class="nav-item">
            <a href="/protected" class="btn btn-outline-success btn-outline" href="#">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <br>
    <br>
    {{{body}}}
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="/scripts/script.js"></script>

</body>

</body>
</html>
