<h3>Home</h3>
<p>Everyone visiting your site will be able to see this page, no login required</p>

<br />

<span>Visit a page that requires you to be logged in</span> <a href="/protected" class="btn btn-primary">Here</a>


<section class="cover-5 text-center">
  <nav class="navbar navbar-toggleable-sm navbar-custom navbar-light">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler-5" aria-controls="navbarToggler-5" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a href="#headere-top" title="luxsciencelogo"><img src="images/logo2.png" alt="luxsciencelogo" title="luxsciencelogo"/></a>
      <a class="navbar-brand" href="#">Lux Science</a>

      <div class="collapse navbar-collapse justify-content-end" id="navbarToggler-5">
        <ul class="navbar-nav mt-2 mt-md-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Our Work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-success btn-outline" href="#">Buy Now</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="cover-container pb-5 ">
    <div class="cover-inner container">
      <p class="lead ">Science is illuminated as kids learn by doing</p>
      <div class="divider"></div>
      <h1 class="jumbotron-heading">Say <em>hello</em> to <strong>Lux Science</strong></h1>
      <div class="row">
        <div class="offset-md-4 col-md-4 mt-5">
          <button type="submit" class="btn btn-lg btn-success pill-btn">Get Started</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="features-1 text-center">
  <div class="container">
    <h2>About Lux Science</h2>
    <div class="divider"></div>

    <p>As opposed to traditional science education, which can be passive and theoretical, our learner-centered program
      immerses students in a plot-driven and task-based scientific experience. Lux Science offers something for all
      types of learners with hands-on science kits and a 3D virtual environment that allows for self-directed discovery.
    <br>
    <br>
      <strong>   We believe in igniting a lifelong passion for exploration and unlocking all students’ potential for learning.
    </p>

  </div>
</section>

<br>
<hr class="style1">
<br>

<section class="features-1 text-center">
  <div class="container">
    <h2>How Lux Science Works</h2>
    <div class="divider"></div>
    <div class="row">
      <div class="col-md-4 col-feature">
        <div class="rounded-circle justify-center">
          <em class="fa fa-2x fa-gamepad"></em>
        </div>
        <h4>Download</h4>
        <p>Download the video game to your device. Learn on your desktop or phone.</p>
      </div>
      <div class="col-md-4 col-feature">
        <div class="rounded-circle justify-center">
          <em class="fa fa-2x fa-gift"></em>
        </div>
        <h4>Receive</h4>
        <p>Receive smart science kits to your home. It's like getting presents in the mail!</p>
      </div>
      <div class="col-md-4 col-feature">
        <div class="rounded-circle justify-center">
          <em class="fa fa-2x fa-flask"></em>
        </div>
        <h4>Advance</h4>
        <p>Complete the scientific experiements to advance in the video game. Win.</p>
      </div>
    </div>
  </div>
</section>
